body {
  margin: 10;
  padding: 10;
  background-color: rgb(37, 37, 37);
  color: rgb(223, 223, 223);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}